
.idea/Backend.iml
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/jpa-buddy.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dataSources.xml
.idea/modules/aiku-alarm/aiku.aiku-alarm.main.iml
.idea/modules/aiku-common/aiku.aiku-common.main.iml
.idea/modules/aiku-main/aiku.aiku-main.main.iml
.idea/uiDesigner.xml
.idea/modules/aiku-login/aiku.aiku-login.main.iml
.idea/modules/aiku-login/aiku.aiku-login.test.iml
*.iml
